* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// Zadanie 1 - Start

$rainbow: (
    red : #FF0000,
    orange : #FF7F00,
    yellow : #FFFF00,
    green : #00FF00,
    blue : #0000FF,
    indigo : #4B0082,
    violet : #8F00FF
);

// Zadanie - 1 - End
// Zadanie - 2 - Start

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
    min-height: 1px;
}

.row {
    margin: 0 auto;
}

.row::before, .row::after {
    display: table;
    content: "";
    clear: both;
}

div[class*="col-"] {
    float: left;
    min-height: 1px;
}

@for $i from 1 through 7 {
    .col-#{$i} {
        width: $i * 14.28572%;
    }
}

// Zadanie - 2 - End
// Zadanie - 3 - Start

section {
    width: 100%;
    height: 100vh;
}

// Zadanie - 3 - End
// Zadanie - 4 - Start

.red {
    background-color: map-get($rainbow, red);
}

.orange {
    background-color: map-get($rainbow, orange);
}

.yellow {
    background-color: map-get($rainbow, yellow);
}

.green {
    background-color: map-get($rainbow, green);
}

.blue {
    background-color: map-get($rainbow, blue);
}

.indigo {
    background-color: map-get($rainbow, indigo);
}

.violet {
    background-color: map-get($rainbow, violet);
}

.section-1 {
    .row {
        height: 100%;
        div {
            height: 100%;
        }
    }
}

// Zadanie - 4 - End
// Zadanie - 5 - Start

@mixin changeColors($color) {
    background-color: $color;
    &:hover {
        background-color: lighten($color, 50%);
    }
}

.section-2 {
    @include changeColors(#000000);
}

// Zadanie - 5 - End
// Zadanie - 6 - Start

.section-3 {
    position: relative;
    height: 1000px;
    img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 400px;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .section-3 {
        img {
            position: relative;
            float: right;
        }
    }
}

@media all and (max-width: 767px) {
    .section-3 {
        img {
            position: relative;
            float: left;
            width: 100%;
        }
    }
}
